@{
    Layout = "_Layout_Login";
    ViewData["Title"] = "Index";
}

<br />
<center>
    <h2> <font color="red"> Acesso Restrito </font></h2>
    <br />
    <p>Sem permissão para acessar essa tela. <a asp-controller="Home" asp-action="Index">Clique aqui para voltar</a></p>
    <br />
    <img width="450" height="350" src="~/imagem/imagem-7.jpg" />
</center>


