@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1>SCC</h1>
    <h2>Sistema de Cadastro de Contatos</h2>
</div>
<br />
<div >
    <center>
        <img width="550" height="300" src="~/imagem/imagem-2.jpg" />
    </center>
    
</div>