@{
    ViewData["Title"] = "Sobre";
}
<br />
<h1>@ViewData["Title"]</h1>
<br />
<p>
    <font size="5">SCC -</font> Sistema de Cadastro de Contatos, é um sistema que tem por finalidade salvar contatos, 
    contendo nome, telefone e email. O sistema possui dois tipos de usuários; padrão e administrador. O usuário padrão,
    tem acesso somente aos seus contatos, podendo inserir, deletar ou editar um contato. Já o usuário administrador,
    tem acesso aos seus contatos, e aos usuários cadastrados no sistema, tendo permissão para inserir, editar ou excluir
    um usuário. Sistema bem intuitivo e fácil de usar, com interfaces agradáveis e simples. O sistema possui uma 
    funcionalidade que envia uma nova senha para o email cadastrado, caso tenha esquecido a senha. Contém uma página para
    alterar a senha atual caso necessário. O SCC possui segurança para que ninguém acesse páginas que não tenham permissão, 
    garantindo integridade dos dados.
</p>

<br />

<div class="text-center">
    <left>
        <img width="350" height="150" src="~/imagem/imagem-4.jpg" />
    </left>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <right>
        <img width="350" height="150" src="~/imagem/imagem-3.jpg" />
    </right>
</div>

